<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<form action="#">
				<input type="text" v-model="user.username"/>
				<input type="text" v-model="user.password"/>
				<button type="submit" v-on:click="login">提交</button>
			</form>
		</div>
		<script src="vue/vue234.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					bd: 'http://www.baidu.com',
					user: {
						username: '',
						password: ''
					}
				},
				methods: {
					login: function() {
						alert(this.user.username + ':' + this.user.password);
					}
				}
			});
		</script>
	</body>
</html>
